@{
    ViewBag.Title = "REST-Asp.Net WebAPI ";
}

<div class="jumbotron">
    <h1>Pedro Martins</h1>
    <p class="lead">Why the REST and Web API?</p>
    <p><a href="@Url.Action( "Why", "Presentation")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Asp.Net WebAPI</h2>
        <p>
            This site gives you a powerful, patterns-based way to build a REST WebApi that
            enables to create your API to all your services on the agile development.
        </p>
        <p><a class="btn btn-default" href="@Url.Action( "Index", "Presentation")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more examples GitHub</h2>
        <p> GitHub Pedro Martins.</p>
        <p><a class="btn btn-default" href="https://github.com/icpmtech">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Helping with Pedro Martins</h2>
        <p>You can easily find a professional to discussed and support you.</p>
        <p><a class="btn btn-default" href="http://pedromiguelmartins.azurewebsites.net">Learn more &raquo;</a></p>
    </div>
</div>