@{
    ViewBag.Title = "Presentation REST Web API";
}
<h1>Why Asp.Net Web API (Web API) ?</h1>
<p>
    Today, a web-based application is not enough to reach it's customers. People are very smart, they are using iphone, mobile, tablets etc. devices in its daily life. These devices also have a lot of apps for making the life easy. Actually, we are moving from the web towards apps world.
    So, if you like to expose your service data to the browsers and as well as all these modern devices apps in fast and simple way, you should have an API which is compatible with browsers and all these devices.
    For example twitter,facebook and Google API for the web application and phone apps.
</p>
<p>
    Web API is the great framework for exposing your data and service to different-different devices.
    Moreover Web API is open source an ideal platform for building REST-ful services over the .NET Framework.
    Unlike WCF Rest service, it use the full featues of HTTP (like URIs, request/response headers, caching, versioning, various content formats) and you don't need to define any extra config settings for different devices unlike WCF Rest service.
    Web API Features
    It supports convention-based CRUD Actions since it works with HTTP verbs GET,POST,PUT and DELETE.
    Responses have an Accept header and HTTP status code.
    Responses are formatted by Web API’s MediaTypeFormatter into JSON, XML or whatever format you want to add as a MediaTypeFormatter.
    It may accepts and generates the content which may not be object oriented like images, PDF files etc.
    It has automatic support for OData. Hence by placing the new [Queryable] attribute on a controller method that returns IQueryable, clients can use the method for OData query composition.
    It can be hosted with in the applicaion or on IIS.
    It also supports the MVC features such as routing, controllers, action results, filter, model binders, IOC container or dependency injection that makes it more simple and robust.
</p>
<h1>Why to choose Web API ?</h1>
    If we need a Web Service and don’t need SOAP, then ASP.Net Web API is best choice.
    It is Used to build simple, non-SOAP-based HTTP Services on top of existing WCF message pipeline.
    It doesn't have tedious and extensive configuration like WCF REST service.
    Simple service creation with Web API. With WCF REST Services, service creation is difficult.
    It is only based on HTTP and easy to define, expose and consume in a REST-ful way.
    It is light weight architecture and good for devices which have limited bandwidth like smart phones.
    It is open source.
    What do you think?
    I hope you have enjoyed the article and would able to have a clear picture about Web API. 
I would like to have feedback from my blog readers. Your valuable feedback, question, or comments about this article are always welcome.
