@{
    ViewBag.Title = "Web API Presentation";
}

<div class="jumbotron">
    <h1>Pedro Martins</h1>
    <p class="lead">Why the REST and Web API.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Asp.Net Web API is a framework for building HTTP services that can be consumed
             by a broad range of clients including browsers, mobiles phones, and tablets.
             It is very similar to ASP.NET MVC since it contains the MVC features such as routing,
             controllers, action results, filter, model binders, IOC container or dependency injection.
             But it is not a part of the MVC Framework.
             It is a part of the core ASP.NET platform and can be used with MVC
             and other types of Web applications like Asp.Net WebForms. 
            It can also be used as an stand-alone Web services application.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>